#message-box{
   width: 913px;
   height: 100px;
}

#title{
   color: #4aaaa5;
   margin: 20px;
}

#wrapper{
   min-height: 100%;
}

textarea{
   width: 960px;
   height: 500px;
}

#img-gal{
    display: grid;
    grid-row-gap: 1px;
    grid-template-columns: 2fr 3fr;
}

#name{
   position: fixed;
   float: left;
   padding:5px;
   color: #ffffff;
   background-color: #4aaaa5;
}

#my-pic{
   float: left;
   padding: 20px;
   padding-top: 20px;
   padding-bottom: 5px;
}

#main-section{
   margin-top: 50px;
   margin-bottom: 43px;
   background-color: #ffffff;
   overflow: auto;
}

#main-section:hover{ 
   background-color: orange; 
} 

#main-text{
   padding: 20px;
   padding-top: 20px;
   color: #777777;
   line-height: 20px;
}

.content-width{
   margin: 0 auto;
   width: 960px;
}

.bold{
   font-size: 40px;
   font-weight: bold;
   font-family: 'Georgia', Times, Times New Roman, serif;
}

.grey-border{
   border-style: solid;
   border-color: #dddddd;
   border-width: 1px;
}


.box{
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 5px;
   margin-bottom: 15px;
   width: 913px;
}

.container {
   width: 200px;
   height: 200px;
   position: relative;
   margin-left: 20px;
   margin-bottom: 10px;
}

.tag {
   float: left;
   position: absolute;
   left: 0px;
   top: 160px;
   z-index: 1;
   background-color: #4aaaa5;
   padding: 5px;
   color: #FFFFFF;
   font-weight: bold;
   width: 190px;
   text-align: center;
}

.teal-white{
   color: #FFFFFF;
   background-color: #4aaaa5;
}

.arial{
   font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

html, body{
   height: 100%;
   background-image: url("../images/main-background.png")
}

ul{
   list-style-type: none;
   float: right;
   padding-top: 20px;
}

li{
   display: inline;
}


header{
   position: fixed;
   background-color: #ffffff;
   border-bottom-color: #cccccc;
   border-bottom-width: 2px;
   border-bottom-style: solid;
   overflow: auto;
}

button{
    height: 40px;
    width: 100px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: #777777;
}

hr{
   margin: 20px;
   margin-top: 20px;
   margin-bottom: 20px;
}

footer {
   position: relative;
   color: #ffffff;
   background: #666666;
   height: 25px;
   margin-top: -33px;
   clear: both;
   text-align: center;
   border-top-width: 8px;
   border-top-color: #4aaaa5;
   border-top-style: solid;
}
